#player-nowplaying {
  width: 449px !important;
}
div.playerAutoskip {
  height: 33px;
  width: 32px;
  cursor: pointer;
  display: block;
  float: left;
  border-right: 1px solid #272727;
  background-position: center;
  background-repeat: no-repeat;

}
li.autoskipdiv {
  float: right;
  position: relative;
  height: 25px;
  width: 24px;
  margin: 0;
  padding: 0;
  cursor: pointer;
}

div.autoskip-control {
  float: left;
  position: relative;
  top: 1px;
}

a.favcount-off {
  margin-left: 4px;
}