#player-nowplaying {
  width: 449px !important;
}
div.playerAutoskip {
  height: 33px;
  width: 32px;
  cursor: pointer;
  display: block;
  float: left;
  border-right: 1px solid #272727;
  background-position: 50% 60%;
  background-size: 16px 17px;
  background-repeat: no-repeat;

}
li.autoskipdiv {
  float: right;
  position: relative;
  cursor: pointer;
}

div.autoskip-control {
  height: 24px;
  width: 31px;
  padding: 13px 0 0 6px;
  float: right;
  position: relative;
  background-position: center;
  background-size: 23px 24px;
  background-repeat: no-repeat;
}

a.favcount-off {
  margin-left: 4px;
}